<!-- Section hero -->
<section class="banner_header">
  <img src="/images/Banner.png" alt="Banner image">
  <div class="banner__title">
    <h2>About Us</h2>
  </div>
</section>

<!-- Section abount -->
<section class="abount">
  <div class="abount__content container container--pall">
    <div class="img__box">
      <img src="/images/Medical-Centre-Reception.jpg" alt="">
      <div class="abount_descr">
        <h2>About us</h2>
        <p>
          We recognise the need to respond to the demands of our patients as quickly as possible. It is therefore our
          promise to
          provide an efficient service, dealing quickly and accurately with the needs of our patients. Treating acute
          and chronic
          illnesses, our practice provides preventive care and health education for all ages and both sexes. Our
          knowledge base
          continues to expand with new advancements in medicine, and our promise is to continue this development with
          you, our
          patient, in mind.
        </p>
      </div>
    </div>
  </div>
</section>