<!-- Section hero -->
<section class="banner_header">
  <img src="/images/Banner.png" alt="Banner image">
  <div class="banner__title">
    <h2>Contact Us</h2>
  </div>

</section>

<!-- Section Contact -->
<section class=" welcome contactSection">

  <div class="welcome__content container container--pall">

    <div class="welcome__intro ">
      <h2 class="welcome__headerH2">Our contact details</h2>

    </div>

    <div class="welcome__grid">

      <div class="welcome__item box_1">

        <div class="welcome__description">
          <i class="far fa-map"></i>
          <a href="#" style="color:rgb(160, 155, 155)">
            Address: 3 Terenure West Road, Dublin 6
          </a>
          <br />
          <i class="fa fa-envelope"></i>
          <a href="mailto:info@gponline.com" style="color:rgb(160, 155, 155)">
            Email: info@gponline.ie
          </a>
          <br />
          <i class="fas fa-phone"></i>
          <a href="tel:01 621 2288" style="color:rgb(160, 155, 155)">
            Tel: 01 234 5678
          </a>
          <div class="information__item">
            <div class="info__box-content open__hours-box">
              <h3>Opening Hours</h3>
              <ul class="open__hours-content">
                <li>Mo 8am – 5pm</li>
                <li>Tue 9am – 4pm</li>
                <li>Wed 8am – 5pm</li>
                <li>Thu 7am – 4pm</li>
                <li>Fri 10am – 3pm</li>
                <li>Sat 9am – 2pm</li>
                <li>Sun 10pm – 1pm</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="welcome__item">
        <div class="form__item contact_form">
          <form class="form__box" id="contactForm" method="POST" action="/">
            <h4>Send your message</h4>
            <p id="msgerror"></p>
            <div class="form__content">
              <input type="text" id="fname" name="fname" placeholder="First Name" required autofocus>
              <input type="email" id="email" name="email" placeholder="Email" required>
              <input type="tel" id="mobile" name="mobile" placeholder="Mobile" required pattern="[0-9]{10}"
                title=" Example: 0855642278 and no min that 10 number">
              <textarea class="contact_txtarea" name="message" rows="4" cols="50"
                placeholder="Your Message..."></textarea>
              <input class="form_btn" type="submit" value="send" id="contactValidation">
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Google map -->
    <a href="https://www.maps.ie/route-planner.htm" style="color:rgb(160, 155, 155)">Nearby clinics</a>
    <div class="google_map">
      <div style="width: 100%"><iframe width="100%" height="349" frameborder="0" scrolling="no" marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
      </div>
    </div>

  </div>


</section>