<!-- Section hero -->
<section class="banner_header">
  <img src="/images/Banner.png" alt="Banner image">
  <div class="banner__title">
    <h2>Forgot Password</h2>
  </div>

</section>

<!-- Section Login -->
<section class=" form">

  <div class="signup__content container container--pall">
    <form class="form__box" id="loginform" method="POST" action="/users/login">
      <fieldset>
        <legend>Forgot your Password</legend>
        <div class="form__content">
          <input type="email" id="email" name="email" placeholder="Email" required autofocus>
          <input class="form_btn" type="submit" id="loginValidation" value="Resend password"><br>
        </div>
      </fieldset>
    </form>

  </div>
</section>