<!-- Section hero -->
<section class="banner" style="background-image: url('images/bg-banner.png')">
  <div class="container">
    <div class="banner__text container--pall">
      <h1>
        Your Good Health is Our Responsibility
      </h1>
      <p>
        Get your appointment online and remain safe at your home. Because your safety is our first priority.
      </p>
      <a href="/users/appointment_form" class="button banner__cta">Request Appointment</a>
      <a class="button banner__cta" href="/users/videochat" target="_blank">Request <i class="fas fa-video"></i>
        Call</a>
    </div>
  </div>
</section>

<!-- Section welcome -->
<section class=" welcome">

  <div class="welcome__content container container--pall">

    <div class="welcome__intro ">
      <h2 class="welcome__headerH2">Welcome to GPonline medical</h2>
    </div>

    <div class="welcome__grid">

      <div class="welcome__item">

        <div class="welcome__description">
          <p>
            To our patients and their families - We are here to meet your Healthcare Needs.
          </p>
          <p>
            While how we work has changed during this pandemic, what we do has not. Our motto is to put you our
            patients
            first and design how we work around you.
          </p>
          <p>
            So when you visit us in person, we will be wearing PPE. We have made some changes - clinical workflows,
            increased sanitation, social distancing – all part of our commitment to your health and safety.
          </p>
          <p>
            You may not need to visit us in person-a doctor phone or video call may suffice. Whatever your healthcare
            need, something new or an ongoing condition, we are here to help.
          </p>
          <a href="/users/appointment_form" class="button hero__cta">Request Appointment</a>
        </div>
      </div>

      <div class="welcome__item corona__item">

        <div class="welcome__intro corona__header">
          <h3>Coronavirus Precautions </h3>

        </div>
        <div class="welcome__description">
          <p>
            To minimise risk, we are asking patients who do not have an appointment to not come to the surgery. If you
            have ANY symptoms of coronavirus, do not come to the surgery.
          </p>
          <p>
            Call us for routine queries, or fill in this form for repeat prescription or social welfare certificate
            requests, or this form to request a non-urgent telephone or video consultation.
          </p>
          <p>
            If you have any respiratory symptoms (cough, shortness of breath) or fever do not attend.
          </p>
          <a href="https://www2.hse.ie/coronavirus" target="_blank" class="button corona-btn">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section Services -->
<section class="services">
  <div class="service__content container container--pall">
    <h2>Service Groups</h2>

    <div class="service__grid">

      <a href="/users/services/#general" class=" service__item">
        <div class="service__image " style="background-image: url('images/bigstock.jpg')">
          <div class="image__text">
            <h3 class="text">General</h3>
          </div>
        </div>
      </a>

      <a href="/users/services/#health_screening" class="service__item">
        <div class="service__image" style="background-image: url('images/scienist-in-laboranory.jpg')">
          <div class="image__text">
            <h3 class="text">Health Screening</h3>
          </div>
        </div>
      </a>

      <a href="/users/services/vaccinations" class="service__item">
        <div class="service__image" style="background-image: url('images/vaccinations.jpg')">
          <div class="image__text">
            <h3 class="text">Vaccinations</h3>
          </div>
        </div>
      </a>

      <a href="/users/services/#sexual_health" class="service__item">
        <div class="service__image" style="background-image: url('images/sexual-health.jpg')">
          <div class="image__text">
            <h3 class="text">Sexual Health</h3>
          </div>
        </div>
      </a>

    </div>

    <div class="service__grid grid-2">

      <a href="/users/services/#procedures" class="service__item">
        <div class="service__image" style="background-image: url('images/minor-surgery.jpg')">
          <div class="image__text">
            <h3 class="text">Procedures</h3>
          </div>
        </div>
      </a>

      <a href="/users/services/#mental_health" class="service__item">
        <div class="service__image" style="background-image: url('images/bigstock-anxiety-disorder-menopause-wom.jpg')">
          <div class="image__text">
            <h3 class="text">MENTAL HEALTH</h3>
          </div>
        </div>
      </a>

      <a href="/users/services/#chronic_disease" class="service__item">
        <div class="service__image" style="background-image: url('images/bigstock-blood-sugar-control-with-healt.jpg')">
          <div class="image__text">
            <h3 class="text">Chronic disease</h3>
          </div>
        </div>
      </a>

      <a href="/users/services/#other_services" class="service__item">
        <div class="service__image" style="background-image: url('images/health-screening.jpg')">
          <div class="image__text">
            <h3 class="text">Other services</h3>
          </div>
        </div>
      </a>

    </div>

  </div>
</section>

<!-- Section information -->
<section class="information">

  <div class="information__content container container--pall">

    <div class="information__intro ">
      <h2 class="information__headerH2">Information</h2>
      <p>Some useful information</p>

    </div>

    <div class="information__grid">

      <div class="information__item " style="background-image: url('images/medicine-pharmaceutics-healt.jpg')">
        <div class="info__box-content">
          <h3>Repeat Prescriptions</h3>
          <p>
            Finding the right forms can be a bit of a pill..so we've found them for you!
          </p>
        </div>
      </div>

      <div class="information__item " style="background-image: url('images/open-hours.jpg')">
        <div class="info__box-content open__hours-box">
          <h3>Opening Hours</h3>
          <ul class="open__hours-content">
            <li>Mo 8am – 5pm</li>
            <li>Tue 9am – 4pm</li>
            <li>Wed 8am – 5pm</li>
            <li>Thu 7am – 4pm</li>
            <li>Fri 10am – 3pm</li>
            <li>Sat 9am – 2pm</li>
            <li>Sun 10pm – 1pm</li>
          </ul>
        </div>
      </div>

    </div>
    <div class="info-btn">
      <a href="/users/appointment_form" class="button">Request Appointment</a>
    </div>
  </div>
</section>