<!-- Section hero -->
<section class="banner_header">
  <img src="/images/Banner.png" alt="Banner image">
  <div class="banner__title">
    <h2>Services</h2>
  </div>
</section>

<!-- Section Contact -->
<section class=" welcome contactSection">

  <div class="welcome__content container container--pall">

    <div class="welcome__intro ">
      <h2 class="welcome__headerH2">Our Services</h2>

    </div>

    <section class="grids" id="general">

      <div id="bar">

        <img class="hi" src="/images/bigstock.jpg">

        <div class="right-side">
          <h3>General Medical care</h3>

          <p>Our practice provides a comprehensive range of general Medical Care to our patients. <br /> Our focus is
            on
            preventative medicine.<br />
            That is, working with and listening to our patients to keep them healthy in mind and body. <br />
            We know that staying healthy is easier with the right healthcare team and <br /> supports, provided in
            your
            own home community.
            <br />We work closely with local community services to <br /> get you the care you need, as quickly as
            possible.
            <br /> We do our best to offer same day appointments Monday <br /> to Friday and have an out of hours
            service
            available for emergencies outside <br /> of normal clinic hours.
            <br />
            <br /> General Medical treatment at our practice covers areas such as:
            <br />
            -> General Medical Care for babies, children, adults, the elderly
            <br />
            <br />-> Antenatal care for pregnant women
            <br />
            <br />-> Sports injuries management
            <br />
            <br />-> Occupational Healthcare
            <br />
            <br />-> For more information, talk to us today.
          </p>
        </div>
      </div>
    </section>

    <section class="grids" id="health_screening">
      <div id="bar">
        <!--Image Reference:https://www.irishlifehealth.ie/blog/when-to-consider-health-screening-->
        <img class="hi" src="/images/scienist-in-laboranory.jpg">
        <div class="right-side">
          <h3>Health Screening</h3>
          <p>Health Screening in our practice is not limited to Full Medical Check ups. <br />
            We also provide a range of screening tests designed to diagnose <br />and treat any illnesses before they
            develop further.
            <br />
            <br />
            Health Screening covers areas such as:
            <br />
            <br />
            -> STI screening
            <br />
            <br />
            -> Cervical Smear tests
            <br />
            <br />
            -> Prostate/Testicular cancer screening
            <br />
            <br />
            -> Skin cancer screening/ Mole Check
            <br />
            <br />
            -> Insurance medicals
            <br />
            <br />
            -> Driving Licence assessments
            <br />
            <br />
            For further information, talk to us today.</p>
        </div>
      </div>
    </section>


    <section class="grids" id="vaccinations">
      <div id="bar">
        <!--Image Reference:-->
        <img src="/images/vaccinations.jpg" class="hi">
        <div class="right-side">
          <h3>Vaccinations & Immunisation</h3>
          <p>We provide a full range of vaccinations and travel immunisations <br />for our patients, babies, teens,
            adults, world travellers!

            Vaccinations
            <br />
            We participate in the Under 6’s programme for children of existing patients
            <br />and you can find detailed information and registration information here.

            <br />
            <br />We also provide a comprehensive range of vaccinations including:
            <br />
            <br />
            Flu vaccine
            <br />
            <br />
            Pneumonia vaccine
            <br />
            <br />
            Shingles Vaccine
            <br />
            <br />
            Travel Vaccines and Advise
            <br />
            We provide travel healthcare advise and travel vaccines
            <br />for any destination for our globe trotters.
            We ask you to talk to us well <br />before travelling to far flung
            <br />destinations-especially developing countries.
            <br />Many travel vaccinations take up to
            <br />12 weeks to provide immunity and some take
            <br />up to 6 months. We want our patients to come home
            <br /> safe and sound so make sure to give yourself plenty of time to
            <br />prepare for an illness free holiday.</p>
        </div>
      </div>
    </section>

    <section class="grids" id="sexual_health">
      <div id="bar">
        <img src="/images/sexual-health.jpg" class="hi">

        <div class="right-side">
          <h3>Contraception & Sexual Health</h3>
          <p>Our doctors offer a discreet comprehensive range of <br />sexual health services for women and men.
            <br />
            <br />
            Patients are assured that Sti screening at our practice
            <br />is both discreet and confidential.
            <br />
            Contraception options clearly explained and we work with <br />our patients to help choose a product that
            best
            suits them.
            <br />
            <br />
            We offer patients a range of contraceptives including<br /> Implanon, Mirena, Jaydess, Depot Provera, the
            Pill, the Mini-Pill.
            <br />
            <br />
            A Psychosexual Therapy service is also available at our <br />
            <br />sister practice Clifton Court Medical, that is empathetic and <br />
            <br />fosters a supportive environment in which people <br />
            <br />can explore their problems and potentials.
            <br />
            For more information, talk to your doctor today.</p>
        </div>
      </div>
    </section>


    <section class="grids" id="procedures">
      <div id="bar">

        <img src="/images/minor-surgery.jpg" class="hi">
        <div class="right-side">
          <h3>Minor Surgical procedures</h3>
          <p>We offer a range of Minor surgical Procedures for our patients,
            <br />so that trips to hospital and the long waiting times can be avoided.

            <br />
            <br />Some of our Minor Surgical Procedures include:
            <br />
            -> Ingrown Toenails
            <br />
            -> Tennis Elbow
            <br />
            -> Frozen Shoulder
            <br />
            -> Sebaceous Cysts
            <br />
            -> Joint injections
            <br />
            -> Removal of skin lesions
            <br />
            <br />
            -> Other Procedures include:
            <br />
            -> Cryotherapy (Liquid Nitrogen) for warts/verrucas
            <br />
            -> Extensive range of Blood tests
            <br />
            -> ECGs
            <br />
            -> 24 hour Blood Pressure Monitoring
            <br />
            Ear syringing
            <br />
            For more information, talk to us today.</p>
        </div>
      </div>
    </section>

    <section class="grids" id="mental_health">
      <div id="bar">

        <img src="/images/bigstock-anxiety-disorder-menopause-wom.jpg" class="hi">
        <div class="right-side">
          <h3>Mental Health</h3>
          <p>Mental Health is vital to your overall well being.
            <br />As life becomes more competitive, challenging and stressful,
            <br />we all need compassionate, practical support.
            <br />
            <br />We work with many different specialists whose skills are focused
            <br />
            <br />on addressing and helping patients struggling with their mental health.
            <br />
            <br />Just as we wouldn't ignore the needs of a patient with a
            <br />broken leg, we work with our patients to keep their minds healthy too.
            <br /> Most importantly, we do not want any of our patients to be
            <br />too embarrassed or ashamed to talk to us. <br />Mental health conditions<br />
            fester in isolation and <br />just like
            <br />an open sore, become more difficult
            <br />to treat as they worsen.<br />
            <br /> There is no shame in needing help.
            <br />Anxiety, depression, stress, OCD and eating disorders

            <br />are examples of conditions that we work with our patients to treat.
            <br />
            For more information, talk to your doctor, in confidence.</p>
        </div>
      </div>
    </section>


    <section class="grids" id="chronic_disease">
      <div id="bar">

        <img src="/images/bigstock-blood-sugar-control-with-healt.jpg" class="hi">
        <div class="right-side">
          <h3>Chronic Disease Care</h3>
          <p>Patients who have a chronic disease need close monitoring,
            <br /> focused health management and often education around their lifestyle management.
            <br />
            We have a number of specialist clinics dedicated to Chronic Disease Care.
            <br />
            <br />-> Diabetes
            <br />
            <br />
            -> Asthma
            <br />
            <br />
            -> Heart disease
            <br />
            <br />
            -> Emphysema/COPD
            <br />
            <br />
            For more information, talk to us today.</p>
        </div>
      </div>
    </section>

    <section class="grids" id="other_services">
      <div id="bar">

        <img src="/images/health-screening.jpg" class="hi">
        <div class="right-side">
          <h3>Other Services</h3>
          <p>We work with a variety of healthcare service providers offering <br />
            <br />a range of health related care for our patients.
            <br />
            <br />In some instances, these services are available in our practice.
            <br />
            <br />As a sister company of other Centric Health medical practices,
            <br />
            <br />we can link in and fast track appointments on your behalf:
            <br />
            <br /> -> Audiology/hearing tests
            <br /> -> Acupuncture
            <br /> -> Child Psychology - Dyslexia, Autism Spectrum Disorders, Attention difficulties etc
            <br /> -> Podiatry
            <br /> -> Dermascopy
            <br /> -> Dietician services
            <br /> -> Document witnessing (eg children’s passport)
            <br /> -> Physiotherapy
            <br /> -> Ultrasound/MRI</p>
        </div>
      </div>
    </section>

  </div>


</section>